# Copy this file to .env and fill in API keys as needed.
ALLIUM_API_KEY=
ARTEMIS_API_KEY=
BLOCKWORKS_API_KEY=
DUNE_API_KEY=
DEFILLAMA_API_KEY=
TOKEN_TERMINAL_API_KEY=
RWA_API_KEY=
VALIDATORS_APP_API_TOKEN=